<table style="width:100%">
<tr>
    <th>Project</th>
    <th>Assigned To</th>      
    <th>Submitted on</th>
    <th>Submitted To</th>
    <%if current_user && current_user.role == "manager" %>
    <th>Delete</th>
    <% end %>
    <th>Complete<th>
</tr>

<% @tasks.all.each do |task| %>
<% if task.completed %>
    <tr>
        <td><%= task.project.projectname %></td>
        <td> <%= task.user.username  %> </td>
        <td> <%= task.submittedon.strftime("%B %d, %Y") unless task.submittedon.nil?%></td>
        <td> <%= task.submittedto  %> </td>
        <%if current_user && current_user.role == "manager" %>
            <td> <%=  button_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }  %> </td>
        <% end %>       
        <td> Completed </td>
    </tr>
    <% end %>

<% end  %>

</table>