<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Project</th>
      <th scope="col">Assigned To</th>
      <th scope="col">Submitted To</th>
      <% if current_user && current_user.role == "manager" %>
        <th scope="col">Edit/Delete</th>
      <% end %>
      <th scope="col">Complete</th>
    </tr>
  </thead>
  <tbody>
    <% if current_user && current_user.role == "user" %>
      <% @tasks.all.each do |task| %>
        <% if !task.completed %>
          <tr scope="row">
            <td><%= task.project.projectname %></td>
            <td><%= task.user.username %></td>
            <td><%= task.submittedto %></td>
            <td><a class="btn btn-outline-success" href="/tasks/<%= task.id %>/complete">Complete</a></td>
          </tr>
        <% end %>
      <% end %>
    <% elsif current_user && current_user.role == "manager" %>
      <% @tasks.each do |task| %>
        <% if !task.completed %>
          <tr scope="row">
            <td><%= task.project.projectname %></td>
            <td><%= task.user.username %></td>
            <td><%= task.submittedto %></td>
            <% if current_user && current_user.role == "manager" %>
              <td>
                <%= link_to "Edit", edit_task_path(task) %> /
                <%= button_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            <% end %>
            <td><a class="btn btn-outline-success" href="/tasks/<%= task.id %>/complete">Complete</a></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
